<div id="container" class="d-flex">
    <app-sidebar></app-sidebar>
    <div id="right" class="d-flex">
        <div id="info" class="d-flex">
            <img src="assets/img/PHOTO.jpg" alt="">
            <div>
                <p id="name">Chirag Santoshi</p>
                <p id="sem">Sem 5</p>
                <div id="contact" class="d-flex">
                    <i class="fa-solid fa-phone"></i>
                    <p>8378877000</p>
                    <i class="fa-solid fa-envelope"></i>
                    <p>Chiragsantoshi7@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="d-flex" style="align-items: center;">
            <div id="sub" class="font-exo d-flex">
                <p>Subject Info: </p>
                <table>
                    <tr>
                        <th>Subject</th>
                        <th>Fees</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>FrontEnd</td>
                        <td>9000</td>
                    </tr>
                    <tr>
                        <td>Data structures</td>
                        <td>9000</td>
                    </tr>
                    <tr>
                        <td>FrontEnd</td>
                        <td>9000</td>
                    </tr>
                    <tr>
                        <td>FrontEnd</td>
                        <td>9000</td>
                    </tr>
                    <tr>
                        <td>FrontEnd</td>
                        <td>9000</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Total</th>
                        <th>18000</th>
                    </tr>
                    <tr>
                        <th>Paid</th>
                        <th>15000</th>
                    </tr>
                    <tr>
                        <th>Pending</th>
                        <th>3000</th>
                    </tr>
                </table>
            </div>
            <div id="status">
                    <p>Status: Pending</p>
            </div>
        </div>
    </div>
</div>
