<div id="container" class="d-flex">
       <app-sidebar></app-sidebar>
       <div id="right" class="d-flex">
              <div id="searchSort" class="d-flex">
                     <p>Admins</p>
                     <input type="text">
                     <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
              </div>
              <div id="bg">
                     <div id="students">
                            <div id="heading" class="d-flex">
                                   <p id="srno">Sr.No</p>
                                   <p id="name">Name</p>
                                   <p id="status">Remove Admin</p>
                            </div>
                            <div id="studentname">
                                   <div id="single-student" class="d-flex">
                                          <p id="ss-sno">1</p>
                                          <p id="ss-name">Chirag Santoshi</p>
                                          <a href="" id="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                                   </div>
                                   <hr>
                                   <div id="single-student" class="d-flex">
                                          <p id="ss-sno">1</p>
                                          <p id="ss-name">Chirag</p>
                                          <a href="" id="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                                   </div>
                                   <hr>
                            </div>
                     </div>
              </div>
       </div>
</div>
